{{> head }}

    {{> navbar }}

<div class ="row">
    <div class="col-8">
    <h1>Roronoa Zoro</h1>
    <p>
        También conocido como "El Cazador de Piratas Roronoa Zoro", es uno de los personajes principales del anime y manga One Piece. Fue el primer miembro en unirse a los Piratas del Sombrero de Paja, convirtiéndose en el espadachín y combatiente de la tripulación.
    </p>
    </div>
    

    <div class="col-4">
        <img src="assets/img/zoro.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}